.offcanvas
    background: transparent
    width: 25%!important
    text-shadow: 0 0 3px $yellowAOC
    animation: effetCartes 1s ease-in-out infinite alternate-reverse
    border: none !important
    th
        cursor: pointer
    tbody
        td
            color: white

.modal-content
    background-color: transparent
    backdrop-filter: blur(5px)
